body {
  /* zoom: 80%; */
}
.error {
  color: red;
}
p.error {
  margin-bottom: 0px;
}
.sidebar .nav-link {
  font-size: 12px;
}
label {
  display: inline-block !important;
  margin-bottom: 0.2rem !important;
}
body .p-inputtext {
  font-size: 14px;
  color: #333333;
  background: #ffffff;
  padding: 0.429em;
  border: 1px solid #d7d4d4;
  -webkit-transition: border-color 0.2s, box-shadow 0.2s;
  transition: border-color 0.2s, box-shadow 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
}

.text-lower {
  text-transform: lowercase !important;
}

.text-upper {
  text-transform: uppercase !important;
}

.text-capital {
  text-transform: capitalize !important;
}
.react-html5-camera-photo > img,
.react-html5-camera-photo > video {
  width: 100% !important;
}
.custom-modal {
  width: 100vw;
}

/* input {
  text-transform: uppercase !important;
} */
select > option {
  text-transform: uppercase !important;
}

#react-select-2-input,
.p-accordion-header-text {
  text-transform: uppercase !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.fullscreen {
  margin: 0 auto !important;
  width: 100% !important;
  max-width: 100% !important;
  align-items: center !important;
}
.fullscreen > .modal-content {
  height: 100vh !important;
  overflow-y: scroll !important;
}
.modal-header {
  display: initial !important;
}
.float-right {
  float: right !important;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.sidebar .nav-link.active {
  color: #fff;
  background: #3a483c;
}
.sidebar .nav-link {
  display: block;
  padding: 0.75rem 1rem;
  color: #fff;
  text-decoration: none;
  background: transparent;
}
.sidebar .nav-link {
  font-size: 11px !important;
}
.p-tree {
  width: 34em !important;
}
.sidebar .nav-link:hover {
  color: #fff;
  background: #083616 !important;
}
.app-header {
  position: relative;
  flex-direction: row;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: white !important;
  border-bottom: 1px solid #c8ced3;
}

body .p-datatable .p-sortable-column.p-highlight {
  background-color: #3b3636;
  color: #ffffff;
}
body .p-datatable .p-datatable-tbody > tr.p-highlight {
  background-color: #3b3636;
  color: #ffffff;
}
body .p-datatable .p-datatable-tbody > tr:nth-child(2n).p-highlight {
  background-color: #3b3636;
  color: #ffffff;
}
body .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #146f12;
  color: #ffffff;
}

body .p-paginator {
  background-color: #f4f4f4;
  border: 1px solid #c8c8c8;
  border-top-color: rgb(200, 200, 200);
  border-top-style: solid;
  border-top-width: 1px;
  padding: 5px;
}

.table-bordered {
  border: 0px solid #146f12;
}
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #fff;
  background: #146f12 !important;
}

.sidebar .nav-link.active {
  color: #fff;
  background: #083616 !important;
}

body .p-component {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 11px;
  text-decoration: none;
}

.custom .p-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4;
}

.custom .p-scrollpanel-bar {
  background-color: #1976d2;
  opacity: 1;
  transition: background-color 0.3s;
}

.custom .p-scrollpanel-bar:hover {
  background-color: #146f12;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5c6873;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #e4e7ea !important;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
