// Here you can add other styles
* {
  margin: 0;
}
.login__side {
  background-image: url("../assets/img/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.transparent {
  background: transparent !important;
  border: none !important;
}
.btn-white {
  background-color: #146f12;
  color: white;
}
.btn-white:hover {
  color: white;
  box-shadow: 4px 4px 4px darkgreen;
}
.bg-login {
  background: url("../assets/img/loginbg.png");
  background-size: cover;
  background-position: bottom;
}

.datatable-responsive-demo {
  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }

  @media screen and (max-width: 40em) {
    .p-datatable {
      &.p-datatable-responsive-demo {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: 0.4rem;
            min-width: 30%;
            display: inline-block;
            margin: -0.4em 1em -0.4em -0.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}
